* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
    height: 100%;
}

body {
	background-color: #E5E5E5;
}

/* Black Top-Header Styles Below: */

.headerTop {
	background-color: black;
	color: white;
	height: 37px;
	font-family: Merriweather;
	line-height: 37px;
	font-size: 10px;
	vertical-align: center;
}

#loginSignup {
	display: inline;
	margin-left: 30px;
}

#myCart {
	display: inline;
	float: right;
	margin-right: 30px;
}

.headerTop a {
	color: white;
	text-decoration: none;
}

#cartNum {
	background-color: #4CFF5C;
	border-radius: 100%;
	width: 19px;
	height: 19px;
	line-height: 19px;
	display: inline-block;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	color: black;
	font-family: "Open Sans";
}

#cartNum:hover {
	background-color: #00D000;
}

#user-icon {
	transform: translate(0, 23%);
	margin-right: 10px;
}

#cart {
	transform: translate(0, 25%);
}

svg:hover {
	cursor: pointer;
	fill: #00D000;
}

#loginSignup a:hover {
	color: #00D000;
}

/* Green Navigation Banner Styles Below:*/

#siteNav {
	height: 80px;
  	background-color: #4cff5c;
  	display: flex;
  	justify-content: space-between;
}

#rightSideNav {
	height: 40px;
	display: inline-flex;
	align-items: center;
	height: 100%;
	margin-right: 25px;
}

#title {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin-left: 33px;
}

#title h1 {
	font-family: Merriweather;
  	font-size: 25px;
 	font-weight: 400;
}

#title h4 {
	opacity: 0.42;
	font-family: Merriweather;
  	font-size: 9px;
  	font-weight: 400;
}

#rightSideNav nav {
	display: flex;
}

#rightSideNav nav a , .dropbtn {
	font-family: Merriweather;
  	font-size: 14px;
  	text-decoration: none;
  	color: black;
  	white-space: nowrap;
  	padding: 31px 20px; 
}

.dropbtn {
	border: none;
	background-color: #4cff5c;
	outline: none;
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#rightSideNav nav a:hover {
	cursor: pointer;
	background-color: #00D000;
}

#rightSideNav .dropbtn:hover {
	background-color: #00D000;
}

#hello {
	white-space: nowrap;
}

#rightSideNav form {
	margin-left: 55px;
	display: flex;
}

#rightSideNav form input {
	width: 282px;
  	height: 40px;
  	background-color: rgba(0,0,0,0.1);
  	border: none;
  	border-radius: 4px 0px 0px 4px;
}

#rightSideNav form button {
	background-color: rgba(0,0,0,0.1);
	border: none;
	height: 40px;
	border-radius: 0px 4px 4px 0px;
	width: 45px;
}

#rightSideNav form button:hover {
	background-color: #00D000;
	cursor: pointer;
}

/* Hero Image and Hero Navigation Below: */

#hero {
	background-image: url('images/nike-air-max.png');
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 800px;
	margin-top: -3px;
}