* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #E5E5E5;
}

.headerTop {
	background-color: black;
	color: white;
	height: 37px;
	font-family: Merriweather;
	line-height: 37px;
	font-size: 10px;
	vertical-align: center;
}

#loginSignup {
	display: inline;
	margin-left: 30px;
}

#myCart {
	display: inline;
	float: right;
	margin-right: 30px;
}

header a {
	color: white;
	text-decoration: none;
}

#cartNum {
	background-color: #4CFF5C;
	border-radius: 50%;
	width: 19px;
	height: 19px;
	line-height: 19px;
	display: inline-block;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	color: black;
	font-family: "Open Sans";
}

#user-icon {
	transform: translate(0, 23%);
	margin-right: 10px;
}

#cart {
	transform: translate(0, 25%);
}
